@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "LeagueGothicRegular", "Open Sans", sans-serif ;
}
.container__header{
    background: url("../img/bg.png")center top no-repeat;
    background-size: cover;
    overflow: hidden;
}
header  {
    margin: 0 auto;
}
.header__logo{
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3em;
    font-weight: 400;
    line-height: 34px;
    display: block;
    float: left;
    letter-spacing: -0.008em;
    text-decoration: none;
}
.header__logo--span{
    color:  #533b5e;
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
}
.header__nav--item{
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 5px;
}
.header__content{
    clear: both;
}
.header__nav{
    float: right;
}
.header__nav--list{
    margin-left: 40px;
    float: left;
}
.last__item{
    margin-right: -5px;
}
.header__nav--item:hover {
    border-bottom: 2px solid rgb(237, 191, 255);
}
.header__navigation--top{
    padding-top: 70px;
    min-height: 208px;
    max-width: 960px;
    margin: 0 auto;
}
.header__content--had{
    color: rgb(254, 254, 254);
    font-size: 60px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.01em;

}
.header__content{
    min-height: 400px;
    background: rgba(0, 0, 0, 0.2);
}
.header__content--container{
    max-width: 960px;
    margin: 0 auto;
}
.header__content--text{
    width: 54%;
    display: inline-block;
    margin-top: 87px
}
.header__content--middle__had{
    color: rgb(237, 191, 255);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 50px;
}
.header__content--acide{
    color: white;
    font-family: "Open Sans", Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}
.header__content--image{
    float: right;
    width: 274px;
    height: 434px;
    background: url("../img/iPhone-4.png") 0 0 no-repeat;
    margin-top: -22px;
    margin-right: 69px;
}
.header__content--play{
    margin-top: 55%;
    margin-left: 50%;
}
.header__footer--list{
    margin-left: 5px;
    width: 17px;
    height: 17px;
    float: right;
}
.header__footer{
    clear: both;
    margin: 0 auto;
    max-width: 960px;
    padding-top: 75px;
    padding-bottom: 77px;
    padding-right: 22.65%;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    cursor:pointer;
}
input[type="radio"]:checked + label  {
    width: 13px;
    height: 13px;
    background: white -19px top no-repeat;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.container__content{
    clear: both;
    padding-top: 81px;
    min-height: 259px;
    background-image: linear-gradient(to top, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
    border-top: 1px solid rgb(51, 37, 58);
    border-bottom: 1px solid #1d2f37;
}
.container__aside:before{
    clear: both;
    content: "";
    border-bottom: 1px solid #0d151b;
    display: block;
}
.content__header{
    max-width: 960px;
    margin: 0 auto;
}
.content__header--info{
    float: left;
    height: 100%;
    width: 33%;
    box-sizing: border-box;
}
.content__header--had{
    width: 242px;
    text-shadow: 1px 1px 0 rgb(15, 21, 24);
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
}
.content__sprite{
    float: left;
}
.key {
    margin-top: 6px;
    margin-left: 15px;
    width: 26px;
    height: 27px;
    background: url("../img/sprite.png")  -3px -3px;
}
.bubble {
    margin-top: 8px;
    margin-left: 34px;
    width: 29px;
    height: 24px;
    background: url("../img/sprite.png") 63px -5px;
}
.music{
    margin-top: 6px;
    margin-left: 55px;
    width: 27px;
    height: 25px;
    background: url("../img/sprite.png") 27px -4px;
}
.left__had, .left__text{
    padding-left: 64px;
}
.center__had, .center__text{
    padding-left: 87px;
}
.right__had, .right__text{
    padding-left: 107px;
}
.content__header--text{
    clear: both;
    text-shadow: 1px 1px 0 rgb(15, 21, 24);
    color: white;
    font-family: "Open Sans", Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 235px;
}
.left__text{
    padding-top: 2px;
}
.center__text{
    padding-top: 3px;
}
.right__text{
    padding-top: 4px;
}
.content__header--link{
    text-shadow: 1px 1px 0 rgb(15, 21, 24);
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    float: right;
    text-decoration: none;
    padding-top: 17px;
    box-sizing: border-box;
}
.left__link{
    margin-right: 36px;
}
.center__link{
    margin-right: 9px;
}
.right__link{
    margin-right: -10px;
}
.content__header--link:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    color: white;
}
.container__aside{
    clear: both;
    min-height: 486px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6 ;
    -webkit-box-shadow: inset 0 16px 27px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 16px 27px -7px rgba(0,0,0,0.5);
    box-shadow: inset 0 16px 27px -7px rgba(0,0,0,0.5);
}
.aside__content{
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}
.aside__footer{
    border-top: 1px solid#fefefe;
    min-height: 120px;
    background: #f9f9f9 ;
    border-bottom: 1px solid #fefefe;
}
.aside__content--left__column, .aside__content--right__column{
    margin: 101px 22px 0 23px;
    width: 46%;
}
.aside__content--left__column{
    float: left;
}
.aside__content--left__column{
    background: url("../img/left_bg.png") no-repeat;
    background-size: cover;
    }
.left__column--had, .right__column--had{
    text-shadow: 1px 1px 0 white;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    padding-top: 33px;
    padding-left: 41px;
}
.left__column--text{
    text-shadow: 1px 1px 0 white;
    color: rgb(69, 69, 69);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 11px 38px 60px 40px;
}
.left__column--link{
    color: rgb(237, 191, 255);
    text-shadow: 1px 1px 0 white;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}
.aside__icon--left{
    float: left;
    box-shadow: 1px 2px 0 white, inset 1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    margin-left: -22px;
    margin-top: 17px;
}
.right__column--text__had, .right__column--text{
    text-shadow: 1px 1px 0 white;
    color: rgb(69, 69, 69);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 68px;
}
.aside__content--right__column{
    float: left;
    margin-right: 0;
}
.right__column--text{
    font-weight: 300;
    letter-spacing: -0.01em
}
.right__column--text__had{
    background: none;
}
.aside__top--text{
    background:url("../img/right_bg.png") 0 0 no-repeat;
    margin-top: 17px;
}
.aside__center--text{
   background: url("../img/right_center_bg.png") 0 0 no-repeat;
    margin-top: 19px;
}
.aside__bottom--text{
    background: url("../img/right_bot_bg.png") 0 0 no-repeat;
    margin-top: 18px;
}
.right__column--had{
    padding-left: 0;
}
.aside__content--link{
    float: right;
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px 0 white;
    color: rgb(69, 69, 69);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 22px;
    margin-right: 9px;
}
.aside__footer--list {
    float: left;
}
.list_link{
    display: block;
}
.first__logo {
    width: 69px;
    height: 65px;
    background: url("../img/logos.png") 0 0 no-repeat;
}
.footer__logos{
    max-width: 960px;
    margin: 0 auto;
    padding: 25px 0;
}
.second__link{
    width: 74px;
    height: 65px;
}
.second__logo{
    background: url("../img/logos.png") -134px 0 no-repeat;
    margin-left: 7.2%;
}
.third__link{
    height: 65px;
    width: 66px;
}
.third__logo{
    margin-left: 7.25%;
    background: url("../img/logos.png") -271px 0 no-repeat;
}
.fourth__link{
    height: 65px;
    width: 54px;
}
.fourth__logo{
    margin-left: 8.4%;
    background: url("../img/logos.png") -408px 0 no-repeat;
}
.fifth__link{
    height: 65px;
    width: 106px;
}
.fifth__logo{
    margin-left: 7.8%;
    background: url("../img/logos.png") -528px 0 no-repeat;
}
.sixth__link{
    height: 65px;
    width: 80px;
}
.sixth__logo{
    margin-left: 7%;
    background: url("../img/logos.png") -694px 0 no-repeat;
}
.footer__container{
    background: #ececec;
    clear: both;
    overflow: hidden;
}
.main__footer{
    margin: 0 auto;
    max-width: 960px;
    padding-top: 95px;
}
.footer__left--column, .footer__center--column, .footer__right--column{
    width:30%;
    float: left;
}
.footer__left--text{
    text-shadow: 0 1px 0 white;
    color: rgb(69, 69, 69);
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
}
.footer__words{
    text-shadow: 0 1px 0 white;
    color: rgb(185, 185, 185);
}
.footer__center--text, .footer__right--text{
    text-shadow: 1px 1px 0 white;
    color: rgb(69, 69, 69);
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 9px;
}
.footer__center--column{
    margin: 0 5%;
    padding-left: 2px;
    box-sizing: border-box;
}
.footer__second--text{
    text-shadow: 1px 1px 0 white;
    color: rgb(197, 197, 197);
    font-family: Georgia, Arial sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 43px;
}
.main__footer--text{
    margin-top: -3px;
    text-shadow: 1px 1px 0 white;
    color: rgb(120, 120, 120);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 95px;
}
.footer__right--column{
    box-sizing: border-box;
    padding-left: 5px;
}
.end__footer--container{
    clear: both;
    background: url("../img/end_bg.png")no-repeat;
    background-size:cover;
}
.end__nav{
    float: left;
    padding-top: 41px;
}
.end__footer{
    margin: 0 auto;
    max-width: 960px;
    min-height: 115px;
}
.end__item{
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
}
.end__nav--first{
    margin-left: -2px;
}
.end__nav--list{
    margin-left: 32px;
}
.end__dis--first, .end__dis--second{
    float: right;
    line-height: 115px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
}
.end__dis--first{
    font-weight: 700;
}
.end__dis--second{
    font-weight: 300;
    margin-right: 4px;
}
.footer__right--text__span{
    display: none;
    text-shadow: 1px 1px 0 white;
    color: rgb(69, 69, 69);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.footer__logo--list{
    margin-left: 10%;
}
.header__nav--submenu{
    display: none;
    width: 244px;
    margin-top: 62px;
    margin-left: -122px;
    padding: 0;
    float: none;
    position: absolute;
    left: 50%;
}
.submenu__list{
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
}
.first__list--item{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.last__active--list{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.active__list--item{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.active__list--item:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.last__active--list:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.last__list--item{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.submenu__list:hover{
    background: #261d2b;
    background: rgba(0, 0, 0, 0.3);
}
.submenu__list--item{
    margin: 0 auto;
    line-height: 32px;
    display: none;
}
.active__list--item{
    display: inline-block;
}
.header__nav--submenu:hover{
    width: 242px;
    margin-top: 57px;
    background: #36293e;
    background: rgba(54, 41, 62, 0.9);
    border: 1px solid #000;
    border-radius: 10px;
}
.header__nav--submenu:hover .submenu__list--item{
    display: inline-block;
    float: none;
}
.header__nav--submenu:hover .active__list--item{
    padding: 3px 5px 0 5px;
}
.header__nav--submenu:hover .submenu__list--item{
    padding: 3px 0 5px 0;
    border-top: 1px solid #503d58;
    border-bottom: 1px solid #36283e;
}
.header__nav--submenu .submenu__list--item:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid #edbfff;
}
.submenu__list--item{
    border: none;
}
.submenu__list--item{
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    width: 242px;
}
.second__text{
    display: none;
}
@media screen and (max-width: 960px) {
    .header__nav{
        width: 86%;
        clear: both;
        float: left;
        margin-top: 35px;
        margin-left: 20px;
    }
    .header__nav--list{
        margin-left: 41px;
    }
    .header__content--container, .aside__content, .content__header, .main__footer,
    .end__footer, .footer__logos{
        max-width: 768px;
    }
    .header__logo{
        margin-left: 20px;
    }
    .first__item{
        margin-left: -4px;
    }
    .header__navigation--top{
        min-height: 170px;
        max-width: 768px;
    }
    .header__content--text{
        margin-left: 46px;
        margin-top: 105px;
        width: 40%
    }
    .header__content--had{
        font-size: 47px;
    }
    .header__content--aside__span, .middle__had--span, .left__column--text__span, .header__text--span ,
    .right__column--text__span, .footer__left--text, .footer__words,
    .footer__second--text, .main__footer--text__span, .footer__center--text,
    .footer__right--text{
        display: none;
    }
    .footer__right--text__span{
        display: block;
    }
    .header__content--middle__had{
        font-size: 24px;
        font-weight: 400;
        line-height: 45px;
        padding-top: 2px;
        margin-left: -2px;
    }
    .header__content--acide{
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        margin-top: -2px;
    }
    .header__content--image{
        margin-right:6%;
    }
    .header__footer{
        padding-top: 26px;
        padding-bottom: 116px;
        padding-right: 18.6%;
    }
    .content__header--had{
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
    .content__header--text{
        width: 165px
    }
    .first__info{
        margin-left: 2%;
    }
    .content__header--info{
        margin-top: -4px;
        width: 30%;
    }
    .key{
        margin-top: -2px;
    }
    .content__header--link{
        padding-top: 7px;
    }
    .bubble{
        margin-top: 0;
    }
    .music{
        margin-top: -1px;
    }
    .right__link{
        margin-right: -21px;
    }
    .left__link{
        margin-right: 16px;
    }
    .last__info{
        margin-left: 2%;
    }
    .right__had, .right__text {
        padding-left: 105px;
    }
    .center__had, .center__text {
        padding-left: 89px;
    }
    .left__had, .left__text {
        padding-left: 67px;
    }
    .center__link {
        margin-right: -6px;
    }
    .left__column--had{
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
    .left__column--link{
        display: block;
        font-size: 24px;
        font-weight: 400;
    }
    .aside__icon--left{
        margin-top: 21px;
    }
    .aside__content--left__column, .aside__content--right__column {
        margin: 97px 0 0 42px;
        width: 43%;
    }
    .left__column--text{
        padding-top: 9px;
    }
    .right__column--had{
        padding-top: 37px;
    }
    .aside__center--text {
        margin-top: 21px;
    }
    .aside__content--link{
        margin-top: 21px;
        margin-right: 6px;
    }
    .aside__footer--list{
        margin-left: 3%;
    }
    .footer__logos{
        padding: 26px 0;
    }
    .second__logo{
        margin-left: 7.2%;
    }
    .third__logo{
        margin-left: 7.25%;
    }
    .fourth__logo{
        margin-left: 7.6%;
    }
    .fifth__logo{
        margin-left: 7.2%;
    }
    .sixth__logo{
        margin-left: 6.5%;
    }
    .main__footer{
        padding-top: 102px;
    }
    .footer__left--column, .footer__center--column, .footer__right--column {
        width: 29%;
    }
    .footer__left--column{
        margin-left: 3%;
    }
    .main__footer--text{
        padding-top: 13px;
    }
    .end__footer{
        min-height: 202px;
    }
    .end__nav{
        clear: both;
        padding-top: 5px;
    }
    .end__nav--first {
        margin-left: -4px
    }
    .end__nav--list{
        margin-left: 33px;
    }
    .end__dis--first, .end__dis--second {
        line-height: 70px;
    }
    .end__dis--first{
        margin-right: 3%;
    }
    .footer__logo--list{
        margin-left: 0;
    }
}

@media  screen and (max-width: 768px) {
    .header__navigation--top, .header__content--container, .aside__content, .content__header, .main__footer,
    .end__footer, .footer__logos{
        max-width: 480px;
    }
    .header__nav{
        display: none;
    }
    .header__logo {
        margin-left: 0;
        width: 480px;
        text-align: center;
    }
    .header__nav--submenu{
        display: block;
    }
    .header__navigation--top {
        min-height: 128px;
    }
    .header__content--image {
        width: 193px;
        height: 303px;
        background: url("../img/iPhone-4.png") 0 0 no-repeat;
        background-size: contain;
        margin-top: -8px;
        margin-right: 5%;
    }
    .header__content--play {
        margin-top: 54%;
        margin-left: 50%;
        width: 51px;
        margin-right: 0;
    }
    .header__content--had{
        font-size: 36px;
    }
    .header__content--acide{
        display: none;
    }
    .header__content--middle__had{
        font-size: 18px;
        line-height: 20px
    }
    .header__content {
        min-height: 247px;
    }
    .header__content--text {
        margin-left: 41px;
        margin-top: 95px;
        width: 44%;
    }
    .header__footer {
        padding-top: 0;
        padding-bottom: 51px;
    }
    .header__lists{
        float: left;
        margin-left: 54.5%;
        margin-top: -26px;
    }
    .container__content {
        min-height: 525px;
    }
    .content__header--info {
        width: 100%;
    }
    .content__header--text{
        width: 98%;
    }
    .first__info {
        margin-left: 3.2%;
        padding-right: 20%;
    }
    .header__text--span{
        display: inline;
    }
    .content__header--link {
        padding-top: 14px;
    }
    .left__link {
        margin-right: -55px;
    }
    .center__had{
        margin-top: 26px;
    }
    .bubble{
        margin-top: 29px;
    }
    .center__had, .center__text {
        padding-left: 84px;
    }
    .second__info{
        padding-right: 100px;
    }
    .center__text {
        padding-top: 0;
    }
    .center__link {
        margin-right: -75px;
    }
    .last__info{
        padding-top: 28px;
        margin-left: -21px;
        padding-right: 100px;
    }
    .right__link {
        margin-right: -95px;
    }
    .left__column--text__span{
        display: inline;
    }
    .left__column--had, .right__column--had{
        font-size: 30px;
    }
    .aside__content--left__column, .aside__content--right__column {
        margin: 69px 0 0 42px;
        width: 87%;
    }
    .left__column--link{
        display: inline;
        font-size: 30px;
    }
    .left__column--text {
        padding-top: 17px;
        padding-bottom: 34px;
        padding-right: 22px;
    }
    .bot__column {
        margin-top: 57px;
        margin-left: 82px;
    }
    .aside__content--link {
        margin-right: 80px;
    }
    .container__aside{
        min-height: 787px;
    }
    .aside__footer {
        width: 100%;
        margin: 0 auto;
        min-height: 232px;
    }
    .footer__logos {
        padding: 37px 0;
    }
    .aside__footer--list {
        margin-left: 83px;
    }
    .second__logo {
        margin-left: 11.2%;
    }
    .third__logo{
        margin-left: 11%;
    }
    .fourth__logo{
        margin-top: 5%;
        margin-left: 14%;
    }
    .fifth__logo{
        margin-top: 5%;
        margin-left: 12%;
    }
    .sixth__logo{
        margin-top: 5%;
        margin-left: 10%;
    }
    .footer__left--column, .footer__center--column, .footer__right--column {
        width: 94%;
    }
    .main__footer {
        padding-top: 79px;
    }
    .footer__left--column {
        margin-left: 4%;
    }
    .main__footer--text{
        display: none;
    }
    .second__text{
        display: block;
    }
    .main__footer--text{
        padding-bottom: 59px;
    }
    .footer__center--column {
        margin: 0 4%;
        padding-left: 0;
    }
    .footer__right--column {
        padding-left: 20px;
        padding-bottom: 4px;
    }
    .end__nav{
        display: block;
        width: 100%;
    }
    .end__nav--first {
        margin-left: -2px;
    }
    .end__nav--list {
        margin-left: 14px;
    }
    .end__dis--first {
        margin-right: 36%;
    }
}
@media  screen and (max-width: 480px){
    .header__navigation--top, .header__content--container, .aside__content, .content__header, .main__footer,
    .end__footer, .footer__logos{
        max-width: 320px;
    }
    .header__logo {
        width: 320px;
    }
    .header__content--image{
        display: none;
    }
    .header__content {
        min-height: 262px;
        background: none;
    }
    .header__content--text {
        margin-left: 65px;
        width: 63%;
    }
    .header__lists {
        margin-left: 50.5%;
        margin-top: -32px;
    }
    .container__content{
        padding-top: 75px;
    }
    .first__info {
        margin-left: 4.2%;
        padding-right: 30%;
    }
    .content__header--text{
        height: 70px;
        overflow: hidden;
    }
    .last__info {
        padding-top: 42px;
        margin-left: -24px;
    }
    .center__had, .center__text {
        padding-left: 82px;
    }
    .container__content {
        min-height: 525px;
    }
    .left__column--had{
        font-size: 24px;
        line-height: 24px;
    }
    .left__column--link{
        display: block;
        font-size: 24px;
    }
    .left__column--had, .right__column--had{
        padding-top: 28px;
        padding-left: 37px;
    }
    .left__column--text {
        padding-top: 5px;
        padding-bottom: 34px;
        padding-right: 38px;
    }
    .left__column--text{
        height: 170px;
        box-sizing: border-box;
        overflow: hidden;
        padding-bottom: 0;
        background: white;
        padding-right: 31px;
    }
    .aside__content--left__column{
        height: 299px;
    }
    .bot__column {
        margin-top: 41px;
        margin-left: 20px;
    }
    .right__column--had{
        padding-left: 0;
    }
    .right__column--text__had{
        width: 54%;
        height: 24px;
        overflow: hidden;
    }
    .right__column--text{
        height: 24px;
        overflow: hidden;
    }
    .aside__center--text {
        margin-top: 18px;
    }
    .aside__bottom--text {
        margin-top: 22px;
    }
    .aside__content--link {
        margin-right: 6px;
        margin-top: 18px;
    }
    .container__aside {
        min-height: 789px;
    }
    .aside__footer {
        min-height: 419px;
    }
    .footer__logos {
        padding: 51px 0;
    }
    .aside__footer--list {
        margin-left: 63px;
    }
    .second__logo {
        margin-left: 17.2%;
    }
    .third__logo {
        margin-left: 22%;
        margin-top: 18%;
    }
    .fourth__logo {
        margin-top: 19%;
        margin-left: 20%;
    }
    .fifth__logo {
        margin-top: 12%;
        margin-left: 13%;
    }
    .sixth__logo {
        margin-top: 12%;
        margin-left: 16%;
    }
    .footer__container{
        display: none;
    }
    .end__nav{
        display: none;
    }
    .end__dis--first {
        margin-right: 29%;
        margin-top: 4%;
    }
    .end__dis--second{
        margin-top: 4%;
    }
}


